<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - CodeJava</title>
    <link rel="stylesheet" type="text/css" href="setPasswordstyle.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<script>
    function sendInfo() {
        var password = document.getElementById('password').value;
        var password2 = document.getElementById('password2').value;
        if(password == password2) {
            document.userInfoForm.submit();
        }
        else {
            alert("Passwords are not equal!");
        }
    }
</script>
<div class="container text-center">
    <div>
        <h1>Confirm User</h1>
    </div>
    <div class="form">
        <form th:action="@{/users/registration}" th:object="${newUserInfo}" method="post" style="max-width: 600px; margin: 0 auto;" name="userInfoForm">
            <div class="form-group row">
                <div class="col-8">
                    <input type="hidden" id="uuid" name="uuid" class="form-control" th:value="${uuid}"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" id="password" name="password" class="form-control"
                           required minlength="4" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Type again the password: </label>
                <div class="col-8">
                    <input type="password" id="password2" name="password2" class="form-control"
                           required minlength="4" maxlength="20"/>
                </div>
            </div>

            <div>
                <button type="button" onclick="sendInfo();" class="btn btn-primary">Finish</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>