<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing page</title>
</head>
<body>
<style>
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: table;
}

h1 {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #0e77de;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}
</style>
<h1>Successful registration!</h1>
</body>
</html>